#foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    text-align: center;
    color: grey;
    height: 9%;
    overflow: hidden;
    display: block;
    padding-top: 20px;
}