#foot {
    width: 100%;
    padding: .8rem;
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.mapLink {
  color: white;
}
.mapLink:hover {
   color: white;
}

.line {
    height: 0.5;
    width: 50%;
    background: white;
    border-bottom:1px solid white;
    margin: auto;
    }
